/* p{ 
    color: darkgreen;
    font-size: larger;
    font-weight: lighter;
    background-color: ghostwhite;
    text-decoration: dotted;
     font-style: italic; 
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 20px;
 } */

#para1{
    color: red;
}

#para2{
    color: blue;
}